# terragrunt
.terragrunt-cache

# tardigrade-ci
.tardigrade-ci
tardigrade-ci/

# terraform file
.terraform.lock.hcl
.terraform
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

# python caches
__pycache__/

# build dirs
**/builds

# ide
.vscode
